{% extends 'base.html' %} 

{% load static %}

{% block title %} | Wish {% endblock %}

{% block content %}
<body id="page_3">
  <nav class="navbar navbar-expand-lg navbar-light bg-white p-0">
    <div class="container px-0">
      <a class="navbar-brand p-0" href="#">
        <picture>
          <source srcset="/static/assets/imgs/SwaprsLogo_mid_2x.webp" type="image/webp">
          <source srcset="/static/assets/imgs/SwaprsLogo_mid@2x.png" type="image/png">
          <img height="60" class="col-img  aos-animate" src="/static/assets/imgs/SwaprsLogo_mid@2x.png"
            alt="Improve Your in-Store Experience">
        </picture>
      </a>
    </div>
  </nav>

  <header class="container">
    <div class="row-cust">
      <div class="col-cust-1">
        <p class="progress-number">
          <span class="big">01</span>
          <span class="small">/02</span>
        </p>
        <div id="step_1_picture" class="text-right">
          <picture>
            <source srcset="/static/assets/imgs/Swaprs_shape01@3x.png" type="image/png">
            <img width="186px" class="col-img  aos-animate" src="/static/assets/imgs/Swaprs_shape01@3x.png"
              alt="Improve Your in-Store Experience">
          </picture>
        </div>
      </div>
      <div class="col-cust-2">
        <h1 class="heading-primary">Upload your item(s)</h1>
        <p class="heading-info">Upload any item or service you wish to offer.
          <br>
          Add as many as you want.</p>
        <form method="POST" action="#">
        	{% csrf_token %}
          <div class="row pl-3">
            <div class="form-group-1">
              <div class="group">
                <input type="text" name="input_item" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Item or Service?</label>
              </div>
              <div class="group">
                <select>
                  <option default disabled selected value="">Select a Category</option>
                  <option value="1">  Antiques and collectibles </option>
<option value="2">  Appliances  </option>
<option value="3">  Arts & crafts </option>
<option value="4">  Baby & children </option>
<option value="5">  Bags & luggage  </option>
<option value="6">  Bicycles  </option>
<option value="7">  Books, films & music  </option>
<option value="8">  Car parts </option>
<option value="9">  Electronics & computers </option>
<option value="10">  Furniture </option>
<option value="11">  Garage sale </option>
<option value="12">  Garden  </option>
<option value="13">  Health & beauty </option>
<option value="14">  Household </option>
<option value="15">  Mens Clothing & shoes </option>
<option value="16">  Mobile phones </option>
<option value="17">  Musical instruments </option>
<option value="18">  Pet supplies  </option>
<option value="19">  Property / housing  </option>
<option value="20">  Sports & outdoors </option>
<option value="21">  Tools </option>
<option value="22">  Toys & games  </option>
<option value="23">  Vehicles  </option>
<option value="24">  Videogames  </option>
<option value="25">  Wearables & accessories </option>
<option value="26">  Women’s clothing & shoes  </option>
<option value="27">  Services Categories </option>
<option value="28">  Accounting help </option>
<option value="29">  Assembling furniture  </option>
<option value="30">  Audio help  </option>
<option value="31">  Beauty  </option>
<option value="32">  Bike riding </option>
<option value="33">  Bridge lesson </option>
<option value="34">  Business help </option>
<option value="35">  Car parking </option>
<option value="36">  Car repair  </option>
<option value="37">  Car service / washing </option>
<option value="38">  Carpooling trip </option>
<option value="39">  Careers advice  </option>
<option value="40">  Cell phone help </option>
<option value="41">  Chess lesson  </option>
<option value="42">  Cleaning  </option>
<option value="43">  Clothing repairs  </option>
<option value="44">  CMS </option>
<option value="45">  Coding  </option>
<option value="46">  Comedy entertainment  </option>
                </select>
                <label for="select" class="control-label"></label><i class="bar1"></i>
              </div>
              <div class="group">
                <input type="text" name="input_title" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Title - What are you offering?</label>
              </div>
              <div class="group">
                <input type="text" name="input_location" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Location</label>
              </div>
            </div>
            <div class="form-group-2">
              <div class="form-group">
                <textarea type="text" rows="5" class="form-control" placeholder="Item Description" required></textarea>
                <div class="d-flex justify-content-between">
                  <div class="inline-block-card text-center p-2">
                    <img src="/static/assets/imgs/plus.png" alt="Add item">
                    <p class="text-center">Image</p>
                    <input type="file" name="myfile1">
                  </div>
                  <div class="inline-block-card text-center p-2">
                    <img src="/static/assets/imgs/plus.png" alt="Add item">
                    <p class="text-center">Image</p>
                    <input type="file" name="myfile2">
                  </div>
                  <div class="inline-block-card text-center p-2">
                    <img src="/static/assets/imgs/plus.png" alt="Add item">
                    <p class="text-center">Image</p>
                    <input type="file" name="myfile3">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-right">
            <button class="btn btn-scondary-cust" type="submit">Upload Item</button>
            <p class="upload-info">Your item has been uploaded.<br>
              Upload another one or continue.</p>
          </div>
        </form>
      </div>
    </div>
  </header>


  <section class="bg-light">
    <div class="container">
      <div class="row-cust">
        <div class="col-cust-1">
          <p class="progress-number">
            <span class="big">02</span>
            <span class="small">/02</span>
          </p>
          <div id="step_1_picture" class="text-right">
            <picture>
              <source srcset="/static/assets/imgs/Swaprs_shape02.png" type="image/png">
              <img width="186px" class="col-img  aos-animate" src="/static/assets/imgs/Swaprs_shape02.png"
                alt="Improve Your in-Store Experience">
            </picture>
          </div>
        </div>
        <div class="col-cust-2">
          <h1 class="heading-primary">Upload your wishlist</h1>
          <p class="heading-info">Select any item or service you are looking for. <br>
            This is optional but will help you see more relevant content in our marketplace.
            Add as many as you want.
          </p>
          <form method="POST" action="#">
          	{% csrf_token %}
            <div class="row pl-3">
              <div class="form-group-1">
                <div class="group">
                  <input type="text" name="input_item" required>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Item or Service?</label>
                </div>
                <div class="group">
                  <select>
                    <option default disabled selected value="">Select a Category</option>
                    <option value="1">  Antiques and collectibles </option>
<option value="2">  Appliances  </option>
<option value="3">  Arts & crafts </option>
<option value="4">  Baby & children </option>
<option value="5">  Bags & luggage  </option>
<option value="6">  Bicycles  </option>
<option value="7">  Books, films & music  </option>
<option value="8">  Car parts </option>
<option value="9">  Electronics & computers </option>
<option value="10">  Furniture </option>
<option value="11">  Garage sale </option>
<option value="12">  Garden  </option>
<option value="13">  Health & beauty </option>
<option value="14">  Household </option>
<option value="15">  Mens Clothing & shoes </option>
<option value="16">  Mobile phones </option>
<option value="17">  Musical instruments </option>
<option value="18">  Pet supplies  </option>
<option value="19">  Property / housing  </option>
<option value="20">  Sports & outdoors </option>
<option value="21">  Tools </option>
<option value="22">  Toys & games  </option>
<option value="23">  Vehicles  </option>
<option value="24">  Videogames  </option>
<option value="25">  Wearables & accessories </option>
<option value="26">  Women’s clothing & shoes  </option>
<option value="27">  Services Categories </option>
<option value="28">  Accounting help </option>
<option value="29">  Assembling furniture  </option>
<option value="30">  Audio help  </option>
<option value="31">  Beauty  </option>
<option value="32">  Bike riding </option>
<option value="33">  Bridge lesson </option>
<option value="34">  Business help </option>
<option value="35">  Car parking </option>
<option value="36">  Car repair  </option>
<option value="37">  Car service / washing </option>
<option value="38">  Carpooling trip </option>
<option value="39">  Careers advice  </option>
<option value="40">  Cell phone help </option>
<option value="41">  Chess lesson  </option>
<option value="42">  Cleaning  </option>
<option value="43">  Clothing repairs  </option>
<option value="44">  CMS </option>
<option value="45">  Coding  </option>
<option value="46">  Comedy entertainment  </option>
                  </select>
                  <label for="select" class="control-label"></label><i class="bar1"></i>
                </div>
              </div>
              <div class="form-group-2">
                <div class="group">
                  <input type="text" name="input_title" required>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Title / Key words (e.g. Bicycle)</label>
                </div>
                <div class="group">
                  <input type="text" name="input_location" required>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Location</label>
                </div>
              </div>
            </div>
            <div class="text-right">
              <button class="btn btn-scondary-cust" type="submit">Upload Item</button>
              <p class="upload-info">Your wish has been uploaded.<br>
                Upload another one or continue.</p>
            </div>
          </form>
        </div>
      </div>
      <div class="text-center next-button">
        <a class="btn btn-primary-cust" href="/profiles/">START SWAPPING</a>
        <p class="upload-info">You can always edit your items and wishes later</p>
      </div>
    </div>
    <div class="text-center" style="margin-top: 172px; padding-bottom:80px;">
      <picture>
        <!-- <source srcset="/static/assets/images/webp/section_2.webp" type="image/webp"> -->
        <source srcset="/static/assets/imgs/SwaprsLogo_mid@2x.png" type="image/png">
        <img height="96px" class="col-img  aos-animate" src="/static/assets/imgs/SwaprsLogo_mid@2x.png"
          alt="Improve Your in-Store Experience">
      </picture>
    </div>
  </section>


  <footer class="d-flex justify-content-center align-items-center">
    <p class="my-0">&copy; SWAPRS LTD. 2019. All rights reserved. Company Number: <a class="link"
        href="tel:12310340">12310340</a></p>
  </footer>
</body>
{% endblock %}
